<h1><%= @cocktail.name %></h1>

<div class="card-product text-right">
  <div class="card-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @cocktail.photo %>)"></div>
  <div class="card-product-infos">
    <ul>
      <% @cocktail.doses.each do |dose| %>
      <li><%= dose.ingredient.name %> - <%= dose.description %> | <%= link_to '<i class="far fa-trash-alt"></i>'.html_safe, dose_path(dose), method: "delete", data: { confirm: "Are you sure?" } %></li>
      <% end %>
    </ul>
    <p><%= link_to "add a dose", new_cocktail_dose_path(@cocktail) %></p>
  </div>
</div>
