<h1>Add a new dose for <%= @cocktail.name %></h1>
<div class="form-width">
  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.association :ingredient, collection: Ingredient.all %>
    <%= f.input :description, label: "Parts", collection: 1..5 %>
    <%= f.submit "add a dose" %>
  <% end %>
</div>
